.dashboard {
    .dashboard-container {
        .chat-container {
            position: fixed;
            top : 45px;
            left : 22.5%;
            width : 55%;
            height : 100%;
            background-color: rgba(0, 0, 0, 0.1);
            .chat-header {
                height: 57px;
                color : #6588E6;
                background-color: rgba(0,0,0, 0.05);
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                .text-primary {
                    font-family: "FontAwesome", sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.846153846;
                    text-align: center;
                    padding: 10px;
                }
            }
            .chat-body {
                position : absolute;
                bottom: 118px;
                top : 58px;
                width : 100%;
                &.emoji{
                    bottom : 270px;
                }
            }
            .chat-footer {
                position: fixed;
                bottom: 0px;
                height : 60px;
                width: 55%;
                background-color:  rgba(0, 0, 0, 0.1);
                &.emoji {
                    height: 220px;
                }
                .emoji-picker{
                    position: relative;
                    width: 99.9%;
                    height: 200px;
                    bottom: 0px;
                    > nav{
                        display : none;
                    }
                    .bar-wrapper{
                        display : none;
                    }
                    .wrapper{
                        .diversity-picker{
                            display: none;
                        }
                        .emoji-list{
                            >.emoji-category.flags{
                                display: none;
                            }
                            >.emoji-category.symbols{
                                display: none;
                            }
                        }
                    }
                    .emoji-list:not(.filter) .emoji-category{
                        min-height: 0%;
                    }
                }
                .emoji-menu {
                    position: relative;
                    display: inline-block;
                    top: 7px;
                    width: 28px;
                    height: 32px;
                    margin: 10px 10px 10px 15px;
                    color : #6588E6;
                    cursor : pointer;
                }
                .input {
                    display: inline-block;
                    width: 83%;
                    max-height: 20px;
                    margin: 10px;
                    padding: 5px;
                    font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
                    font-size: 15px;
                    font-weight: 200;
                    line-height: 1.5;
                    background-color: white;
                    border-radius: 5px;
                    border : 0;
                    outline: 0;
                    cursor: text;
                }
                .action-menu {
                    display: inline-block;
                    width: 22px;
                    height: 16px;
                    margin: 10px;
                    color : #6588E6;
                    cursor: pointer;
                }
            }
            .landing-page{
                background-image: url("./lib/images/bbrfgbb.jpg");
                background-position: center center;
                background-attachment: fixed;
                background-size: fit;
                height: 100vh;
                overflow: scroll;
            }
        }
    }
}