.dashboard {
    position : absolute;
    width : 100%;
    .dashboard-container {
        position : relative;
        .contacts-container {
            top: 51px;
            left : 0px;
            width : 20%;
            height : 100vh;
            position : fixed;
            // background-color: rgba(255, 255, 255, 0.1);
            border-top: 2px solid #4CAF50;
            .contact-header{
                color : #4CAF50;
                .text-primary {
                    font-family: "FontAwesome", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.846153846;
                    padding: 0.5em 0.5em 0.5em 4.5em;
                    background-color: rgba(0,0,0, 0.1);
                    // border-bottom: 2px solid rgb(30, 179, 30);
                }
            }
        }
    }
}